body {
  background-color: #DFF6FF;
}

hr {
  background-color: transparent;
  width: 8%;
  border-style: dotted none none none;
  border-width: 10px;
  border-color: #1363DF;
}

h1 {
  color: #1363DF;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h3 {
  color: #47B5FF;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}